{% load static %}

        <div class="title-bar-top d-flex align-items-center justify-content-between">
          <!-- LEFT: Logo -->
          <div class="d-flex align-items-center" style="width:200px">
            <img src="{% static 'crue_remisiones/img/logos/logo_hudn-horizontal.png' %}"
                 alt="Logo HUDN"
                 style="width:100%;">
          </div>

          <!-- CENTER: Title -->
          <div class="text-center flex-grow-1">
            <h1 class="title-bar-heading m-0">
              REMISIONES DE USUARIOS COMENTADOS POR CRUE, ESE, SAS, EPS
            </h1>
          </div>

          <!-- RIGHT: Date + User -->
          <div class="text-end " style="width:200px">
            <div>{{ fecha_hoy }}</div>
            <div>
              <i class="bi bi-person me-1"></i>
              {{ request.user.get_full_name }}
            </div>
          </div>
        </div>
